<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>Provider Selectorr</title>
</head>
<body>
<h1>Provider Selector</h1>

    <form method="post" action="">
        <input type="hidden" name="selectedProvider" value="GitHub">
        <input type="submit" value="GitHub">
    </form>

    <form method="post" action="">
        <input type="hidden" name="selectedProvider" value="Twitter">
        <input type="submit" value="GitHub" disabled="disabled">
    </form>

</body>
</html>
