<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Provider Selectorr</title>
    </head>
    <body>
        <h1>Provider Selector</h1>
        <p>Please select your provider from the list below to authenticate.</p>

        {% for key, value in supportedProviders %}
            <form method="post" action="">
                <input type="hidden" name="selectedProvider" value="{{ key }}">
                <input type="submit" value="{{ key }}">
                {{ value }}
            </form>
        {% endfor %}
    </body>
</html>
