<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link href="css/style.css" rel="stylesheet">
        <title>Provider Selector</title>
    </head>
    <body>
        <h1>Provider Selector</h1>
        <p>Please select your provider from the list below to authenticate.</p>

        <table>
        {% for provider in supportedProviders %}
            <tr>
                <td>
                    <form method="post">
                        <input type="hidden" name="selectedProvider" value="{{ provider }}">
                        <input type="submit" value="{{ provider }}">
                    </form>
                </td>
            </tr>
        {% endfor %}
        </table>
    </body>
</html>
